@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Epilogue', sans-serif;
  
  display: flex;
  justify-self: center;
  overflow: hidden;
  height: 100dvh;
}



.page {
  width: 375px;
  background-color: hsl(0, 0%, 98%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: relative;
}


.main {
  background-color: inherit;
}

.main__image {
  height: 270px;
  width: inherit;
}

.main__image picture {
  display: block;
  width: 100%;
  height: inherit;
}

.responsive-image {
  width: 100%;
  height: inherit;
  object-fit: fill;
}


.main__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  padding: 20px;
}

.main__heading {
  margin: 0;
  line-height: 1;
  font-size: clamp(2rem, 4.5vw, 4rem);
}

.main__text {
  color: hsl(0, 0%, 41%);
  text-align: center;
  font-size: 0.95rem;
}

.main__button {
  background-color: hsl(0, 0%, 8%);
  color: white;
  border: none;
  padding: .5rem 1rem;
  font-size: .5rem;
  border-radius: .7em;
  cursor: pointer;
  margin: 0.6rem 0;
}

.main__clients {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.main__client-logo {
  width: 50px;
  object-fit: contain;
}

@media (min-width: 768px) {
  body {
    width: 100%;
    height: inherit;
  }

  .page--responsive {
    width: 100%;
    height: 100dvh;
  }
  
  .main {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center; 
    height: 100vh; 
    padding: 50px 150px 100px 150px;
  }

  .main__description {
    width: 40%;
    height: 100%;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
  }

  .line-1,
  .line-2 {
    display: block;
  }

  .main__text {
    width: 100%;
    text-align: left;
  }

  .main__image {
    width: 40%;
    height: 100%;
  }

 .responsive-image{
  
 }

 .main__client-logo {
  width: 70px;
}
  
}
