@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Epilogue', sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  margin: 0;
}



.page {
  width: 375px;
  background-color: hsl(0, 0%, 98%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  height: 100dvh;
  position: relative;
}


.main {
  background-color: inherit;
}

.main__image {
  height: 350px;
  width: 100%;
}

.main__image picture {
  display: block;
  width: 100%;
  height: 100%;
}

.responsive-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
}


.main__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  padding: 20px;
}

.main__text {
  margin: 1.2rem 0;
  color: hsl(0, 0%, 41%);
  text-align: center;
  font-size: 1.05rem;
}

.main__button {
  background-color: hsl(0, 0%, 8%);
  color: white;
  border: none;
  padding: .5rem 1rem;
  font-size: .5rem;
  border-radius: .7em;
  cursor: pointer;
}

.main__clients {
  display: flex;
  margin-top: 2em;
}