.navbar__brand {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.navbar__img {
  height: 10%;

}

.navbar__menu-icon {
  cursor: pointer;
}

.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 60%;
  background-color: hsl(0, 0%, 98%);
  margin: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
  transition:
    transform 0.4s ease,
    opacity 0.4s ease;
  z-index: 10;
}

.sidebar--visible {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.sidebar:not(.sidebar--visible) {
  transition-delay: 0s, 0.4s; /* Delay opacity to match the slide-out */
}


.sidebar__menu, .sidebar__submenu {
  text-decoration: none;
  font-size: .85rem;
  padding-left: 2vw;   /* scales with viewport width */
  padding-top: 1vh;    /* scales with viewport height */
}

.sidebar__submenu {
  display: none;
}

.sidebar__submenu-item span {
  margin-right: 10px;
}

.sidebar__menu-item, .sidebar__submenu-item {
  padding: 10px 20px;
  list-style: none;
  
}

.sidebar__submenu-item {
  display: flex;
}

.submenu--visible {
  display: initial;
} 

.sidebar__close-icon {
  float: right;
  padding-right: 20px;
  padding-top: 10px;
  height: 30px;
  cursor: pointer;
}


.sidebar__menu-link, .sidebar__submenu-link {
  text-decoration: none;
  color: hsl(0, 0%, 41%);
}

.sidebar__menu-link,
.sidebar__menu-arrow {
  transition: all 0.3s ease;
}

.sidebar__menu-arrow {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.sidebar__actions {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.sidebar__login {
  text-decoration: none;
  color: hsl(0, 0%, 41%);
  font-size: .85rem;
  transition: all 0.4s ease;
}

.sidebar__register-button {
  background-color: transparent;
  border: solid .1rem hsl(0, 0%, 41%);
  padding: 0.4rem 3.5rem;
  color: hsl(0, 0%, 41%);
  border-radius: 0.7rem;
  cursor: pointer;
  font-size: 0.85rem;
  transition: all 0.4s ease;
}

@media (min-width: 768px) {
  .navbar--responsive {
  display: flex;
  width: 100%;
  justify-content: space-between; /* Or flex-start, center, etc. depending on layout */
  align-items: center; /* Aligns items vertically */
  }


  .navbar__menu-icon {
    display: none;
  }

  .sidebar--responsive {
    position: static;
    height: auto;
    transform: none;
    opacity: 1;
    visibility: visible;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 30px;
  }
  
  .sidebar__menu {
    width: 35%;
    min-width: 20rem;
    display: flex;
    justify-content: space-between;
  }

  .sidebar__menu-item {
    position: relative;
    padding: 0;
  }

  .sidebar__submenu {
    position: absolute;
    background-color: hsl(0, 0%, 100%);
    width: fit-content;
    padding: 0.25rem 0;
    border-radius: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    opacity: 0;
    transition: opacity 0.4s ease, max-height 0.4s ease;
  }

  .sidebar__submenu-item {
    padding: 0.25rem 1rem;
  }

  .submenu--visible {
    display: block; 
    max-height: 500px; 
    opacity: 1;
  }

  .sidebar__menu-item:hover .sidebar__menu-link,
  .sidebar__menu-item:hover .sidebar__menu-arrow {
  color: hsl(0, 0%, 8%);
  font-weight: 500;
  }

  .tooltip1 {
    top: 2rem;       
    left: -2.5rem;
    width: 7.7rem;
  }

  .tooltip2 {
    top: 2rem;
    left: 0rem;
    width: 6rem;
  }

  .close-icon--hidden {
    display: none;
  }
 
  .sidebar__menu {
    padding: 0;
    display: flex;
  }

  .sidebar__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    margin: 0;
  }

  .sidebar__login {
    font-size: .85rem;
  }

  .sidebar__login:hover {
    color: hsl(0, 0%, 8%);
    font-weight: 500;
  }

  .sidebar__register-button {
    padding: 0.3rem 1.2rem;
  }

  .sidebar__register-button:hover {
    color: hsl(0, 0%, 8%);
    font-weight: 500;
    border-color: hsl(0, 0%, 8%);
  }


}