section .container {
 display: flex;
 flex-direction: row;
 padding: 10px;
 border: 1.5px solid hsl(231, 11%, 63%);
 border-radius: 5px;
 margin-bottom: 10px;
}

section .container:hover {
  background-color: hsl(228, 100%, 84%);
  border: 1.5px solid hsl(243, 100%, 62%);
  border-radius: 5px;
  cursor: pointer;
}

.plan p {
  margin: 0;
  line-height: 1.5;
  margin-left: 10px;
}

.level {
  color: inherit;
  font-weight: 700;
}

.fee {
  font-size: small;
}

.duration {
  color: inherit;
  font-size: small;
  font-weight: 500;
}

.duration-switch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px; /* Set a fixed width for demonstration */
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #f0f0f0;
  padding: 5px;
  box-sizing: border-box;
}

.duration-switch p {
  flex: 1;
  text-align: center;
  margin: 0 auto;
}

/*.duration-switch div {
  display: flex;
  align-items: center;
  background-color: hsl(213, 96%, 18%);
  width: 25px;
  height: 10px;
  border-radius: 10px;
  padding: 2px;
  cursor: pointer;
}*/

.duration-switch > div {
  display: flex;
  background-color: hsl(213, 96%, 18%);
  align-items: center; /* Center vertically */
  position: relative; /* To enable absolute positioning of .white */
  /* Allow the inner div to grow */
  height: 10px; /* Set a fixed height for demonstration */
  width: 25px;
  margin: 0 10px; /* Space around the inner div */
  border-radius: 10px;
}

/*.duration-switch .white {
  display: flex;
  width: 5px;
  height: 5px;
  background-color: white;
  align-self: center;  
}*/

.duration-switch .white {
  width: 5px; /* Example width */
  height: 5px; /* Example height */
  background-color: white;
  position: absolute;
  left: 5px; /* Start position */
  transition: left 0.03s; /* Smooth transition */
}

.duration-switch.active .white {
 /* left: calc(100% + 0.00001%); /* Move to the right side */

 right: 500px;
}

footer {
  justify-content: space-between;

}