nav {
  width: 100%;
  position: absolute;
  top: 0;
}
 
nav .page_number {
  position: absolute;
  top: 30px;
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);

}
 
button {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  padding: 5px 8px;
  font-size: 10px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}

.nav_bar button:hover {
  background-color: hsl(228, 100%, 84%);
  color: hsl(213, 96%, 18%);
}

.active {
  background-color: hsl(228, 100%, 84%);
  color: hsl(213, 96%, 18%);
}

footer {
  position: fixed;
  width: 375px;
  bottom: 0;
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer a {
  text-decoration: none;
  color: hsl(231, 11%, 63%);
  margin-left: 10px;

}

footer button {
  background-color: hsl(213, 96%, 18%);
  border: none;
  color: hsl(231, 100%, 99%);
  padding: 7px 10px;
  border-radius: 3px;
  font-size: 12px;
  margin-right: 10px;
  cursor: pointer;
}

.footer-page1 {
  justify-content: flex-end;
}

.confirm {
  background-color: hsl(243, 100%, 62%);
}