.nav {
  width: 375px;
  height: 160px;
  background-image: url('../images/bg-sidebar-mobile.svg');
  margin: 0 auto;
}

.nav__list {
  display: flex;
  text-decoration: none;
  justify-content: center;
  margin: 1.5em 0;
  padding: 0;
}

.nav__item {
  list-style-type: none;
  margin: 0 0.7em;
}

.nav__link {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  padding: .85rem;
  border-radius: 50%;
  display: inline-flex; /* Allows for centering */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  width: 1.5em; /* Set a fixed width */
  height: 1.5em; /* Set a fixed height */
  border: 1px solid;
  font-size: .8rem;
  font-weight: 500;
}

.footer {
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  padding: 1rem;
  position: relative; 
  margin-top: 10%;
  flex-shrink: 0;
}

.footer__nav {
  justify-content: space-between;
  display: flex;
}

.footer__link--hidden {
  visibility: hidden;
}

.footer__button {
  color: hsl(0, 0%, 100%);
  background-color: hsl(213, 96%, 18%);
  border: none;
  border-radius: 0.3rem;
  font-size: 0.755em;
  padding: 0.5em 1em;
  cursor: pointer;
}
