.finishing-up {
  background-color: hsl(231, 100%, 99%);
  display: flex;
  flex-direction: column;
  gap: 0px;
  border-radius: 5px;
}

.finishing-up p {
  margin: 0;
  width: auto;
}

.finishing-up div {
  padding: 0px 15px; /* Padding only on the left and right */
  margin-bottom: 15px; /* Keeps a 15px distance between divs */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.arcade-duration div {
  display: flex;
  flex-direction: column;
  padding:  0px;
  justify-content: center;
}

.arcade-duration {
  position: relative; /* Allows for pseudo-elements */
  font-weight: 600;
  margin-top: 14px
}

.arcade-duration a  {
  font-weight: 300;
  color: hsl(231, 11%, 63%);
}

.arcade-duration::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 15px; /* Match with parent's padding-left */
  right: 15px; /* Match with parent's padding-right */
  border-bottom: solid 1px hsl(231, 11%, 63%);
}

.total-div  {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.total-div p {
  display: inline;
  margin: 0;
  width: auto;
}

.total-div span {
  color: hsl(243, 100%, 62%);
  font-weight: 600;
}

.final-page {
  align-items: center;
  width: auto;
  padding: 50px 20px;
}

img {
  width: 50px;
}

.final-page p {
  font-size: 13px;
  margin: 0;
  line-height: 1.5;
  text-align: center;
}

.last-word {
  width: 225px;
}
