.section__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.62rem;
  border: 0.09375rem solid hsl(231, 11%, 63%);
  border-radius: 0.312rem;
  margin-bottom: 0.62rem;
  cursor: pointer;
} 

.active {
  background-color: hsl(228, 100%, 84%);
  border: 0.085rem solid hsl(243, 100%, 62%);
  border-radius: 0.312rem;
}

.container__plan-div {
  width: 75%;
  margin-left: 0.62rem;
  line-height: 1.5;
}

.container__level {
  color: inherit;
  font-size: 0.9rem;
  font-weight: 700;
  color: hsl(213, 96%, 18%);
}

.container__fee {
  font-size: 0.85rem;
  color: hsl(231, 11%, 63%);
}

.section__discount {
  font-size: 0.8rem;
  color: hsl(213, 96%, 18%);
  font-weight: 500;
}

.duration {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #f0f0f0;
  margin-top: 1rem;

}

.duration__button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.87;
  color: hsl(231, 11%, 63%);
  justify-content: right;
  padding: 0.25rem 0.5rem;
  margin: 0;
}

.duration__switch {
  display: flex;
  background-color: hsl(213, 96%, 18%);
  align-items: center; /* Center vertically */
  position: relative; /* To enable absolute positioning of .white */
  height: 18px; /* Set a fixed height for demonstration */
  width: 35px;
  margin: 0 10px; /* Space around the inner div */
  border-radius: 15px;
}

.switch__white {
  width: 11px; /* Example width */
  height: 11px; /* Example height */
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: 4px; /* Start position */
  transition: left 0.3s ease; /* Smooth transition */
}

.duration__button--active {
  color: hsl(213, 96%, 18%);
  font-weight: 500;
}

input[type="checkbox"] {
  transform: scale(1.2); /*Adjust the scale as needed*/
  -webkit-transform: scale(1.2); /*Safari support*/  -moz-transform: scale(1.2);    /*Firefox support*/
  -ms-transform: scale(1.2);     /*IE support*/
  -o-transform: scale(1.2);      /*Opera support*/
}

.section__desc {
  color: hsl(231, 11%, 63%);
  font-size: 0.8rem;
}

.section__extra-fee {
  color: hsl(243, 100%, 62%);
  font-size: .9rem;
}

@media (min-width: 1000px) {
  .step2--responsive {
    display: flex;
    gap: 4%;
    width: 100%;
    align-items: stretch;
  }

  .section__container {
    gap: 3%;
  } 

  .step2__container--responsive {
    flex-direction: column;
    flex: 1;
    align-items: self-start;
    gap: 3rem;
  }

  .step3--responsive {
    padding: 0.8rem 1rem;
  }

  .container__plan-div {
    width: 100%;
    margin-left: 0;
  }
}