.first-page__label-group {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  margin: 0.1rem;
}

.first-page__label {
  color: hsl(213, 96%, 18%);
}

.first-page__warning {
  color: hsl(354, 84%, 57%);
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease, visibility 1s ease;
}

.first-page__warning.fade-out {
  opacity: 0;
  visibility: hidden;
}

.first-page__input {
  padding: 0.3rem 0.625rem;
  border: 0.0625rem solid hsl(229, 24%, 87%);
  border-radius: 0.1875rem;
  margin-bottom: 0.8rem;
  font-size: 0.8rem;
  color: hsl(213, 96%, 18%);
}

.first-page__input--warning {
  border-color: hsl(354, 84%, 57%)
}

.first-page__input::placeholder {
  font-size: 0.8rem;
  color: hsl(231, 11%, 63%);
}

.first-page__input:focus {
  outline: none;
  border: 0.085rem solid hsl(243, 100%, 62%);
}

