.summary {
  background-color: hsl(217, 100%, 97%);
  display: flex;
  flex-direction: column;
  gap: 0px;
  border-radius: 5px;
}


.summary__block {
  padding: 0px 15px; /* Padding only on the left and right */
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.summary__duration--layout {
  display: flex;
  color: hsl(213, 96%, 18%);
  flex-direction: column;
  padding:  0px;
  justify-content: center;
  padding-bottom: 10px;
}

.summary__duration {
  position: relative; /* Allows for pseudo-elements */
  font-weight: 600;
  margin-top: 14px
}

.summary__duration-change {
  font-weight: 300;
  color: hsl(231, 11%, 63%);
}

.summary__duration-change:hover {
  color: hsl(243, 100%, 62%);;
}

.summary__duration::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 15px; /* Match with parent's padding-left */
  right: 15px; /* Match with parent's padding-right */
  border-bottom: solid 1px hsl(231, 11%, 63%);
}

.summary__desc {
  color: hsl(231, 11%, 63%);
}

.summary__additional-fee {
  color: hsl(213, 96%, 18%);
}

.addOn__container {
  display: flex;
  flex-direction: column;
}

.summary__addOn {
  display: flex;
  margin-bottom: 15px; /* Keeps a 15px distance between divs */
  justify-content: space-between;
}

.summary__total-card {
  display: flex;
  justify-content: space-between;
  padding: 0.95rem;
}

.summary__total-desc {
  display: inline;
  margin: 0;
  width: auto;
}

.summary__total {
  color: hsl(243, 100%, 62%);
  font-weight: 600;
}

.final-page {
  align-items: center;
}

.final-page__img {
  margin-top: 2.5rem;
  width: 50px;
}

.final-page__header {
  color: hsl(213, 96%, 18%);
  margin: 0.6rem;
}

.final-page__text {
  font-size: 0.85rem;
  margin: 0;
  line-height: 1.5;
  text-align: center;
  color: hsl(231, 11%, 63%);
}

.final-page__last-word {
  width: 80%;
  margin-bottom: 2rem;
}

@media (min-width: 1000px) {
  .final-page {
    margin-top: 7%;
  }
}