.section__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.62rem;
  border: 0.09375rem solid hsl(231, 11%, 63%);
  border-radius: 0.312rem;
  margin-bottom: 0.62rem;
} 
 
.section__container:hover {
  background-color: hsl(228, 100%, 84%);
  border: 0.085rem solid hsl(243, 100%, 62%);
  border-radius: 0.312rem;
  cursor: pointer;
}

.section__plan-div {
  width: 75%;
  margin-left: 0.62rem;
  line-height: 1.5;
}

.section__level {
  color: inherit;
  font-weight: 700;
  color: hsl(213, 96%, 18%);
}

.section__fee {
  font-size: 0.85rem;
  color: hsl(231, 11%, 63%);
}

.section__discount {
  font-size: 0.8rem;
  color: hsl(213, 96%, 18%);
  font-weight: 500;
}

.duration {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #f0f0f0;
  margin-top: 1rem;

}

.duration__button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.87;
  color: hsl(231, 11%, 63%);
  justify-content: right;
  padding: 0.25rem 0.5rem;
  margin: 0;
}

.monthly__button {

}

.duration__switch {
  display: flex;
  background-color: hsl(213, 96%, 18%);
  align-items: center; /* Center vertically */
  position: relative; /* To enable absolute positioning of .white */
  height: 18px; /* Set a fixed height for demonstration */
  width: 35px;
  margin: 0 10px; /* Space around the inner div */
  border-radius: 15px;
}

.switch__white {
  width: 11px; /* Example width */
  height: 11px; /* Example height */
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: 4px; /* Start position */
  transition: left 0.03s; /* Smooth transition */
}

.duration__button--active {
  color: hsl(213, 96%, 18%);
  font-weight: 500;
}

input[type="checkbox"] {
  transform: scale(1.5); /* Adjust the scale as needed */
  -webkit-transform: scale(1.5); /* Safari support */
  -moz-transform: scale(1.5);    /* Firefox support */
  -ms-transform: scale(1.5);     /* IE support */
  -o-transform: scale(1.5);      /* Opera support */
}